*.class
/programa2/nbproject/private/
/programa2/build/
/programa03/nbproject/private/
/programa03/build/
/SumaVariablesEntorno/nbproject/private/
/SumaVariablesEntorno/build/
/programa04/nbproject/private/
/programa04/build/
/programa05/nbproject/private/
/programa05/build/
/programa06/nbproject/private/
/programa06/build/
/programa07/nbproject/private/
/programa07/build/
/programa08/nbproject/private/
/programa08/build/
/programa09/nbproject/private/
/programa09/build/
