*.class
/programa2/nbproject/private/
/programa2/build/
/programa03/nbproject/private/
/programa03/build/
/SumaVariablesEntorno/nbproject/private/
/SumaVariablesEntorno/build/
/programa04/nbproject/private/
/programa04/build/
/programa05/nbproject/private/
/programa05/build/
/programa06/nbproject/private/
/programa06/build/
/programa07/nbproject/private/
/programa07/build/
/programa08/nbproject/private/
/programa08/build/
/programa09/nbproject/private/
/programa09/build/
/programa10/nbproject/private/
/programa10/build/
/programa11/nbproject/private/
/programa11/build/
/programa12/nbproject/private/
/programa12/build/
/programa13/nbproject/private/
/programa13/build/
/programa14/nbproject/private/
/programa14/build/
/programa15/nbproject/private/
/programa15/build/
/programa16/nbproject/private/
/programa16/build/
/programa17/nbproject/private/
/programa18/nbproject/private/
/programa18/build/
/programa17/build/
